---
import HtmlBase from "./HtmlBase.astro";
import PageGrid from "@/components/PageGrid.astro";
import { SEO } from "astro-seo";

import config from "@config";
import { capitalizeFirstLetter } from "@/scripts/utils";
import { getCollection } from "astro:content";

import type { Collection } from "@/content/config";

interface Props {
  collection: Collection;
}

const { collection } = Astro.props as Props;
const entries = await getCollection(collection);
const posts = entries
  .map((entry) => {
    return {
      title: entry.data.title || entry.slug,
      slug: entry.slug,
      publishedTime: entry.data.publishedTime,
    };
  })
  .sort((a, b) => {
    if (a.publishedTime === b.publishedTime) {
      return a.title.localeCompare(b.title);
    } else {
      return b.publishedTime > a.publishedTime ? 1 : -1;
    }
  });

// split posts by year to create a list like this:
// [[2021, [post1, post2, ...]], [2020, [post1, post2, ...]], ...]
const postsByYear = posts.reduce(
  (acc, post) => {
    const year = new Date(post.publishedTime).getFullYear();
    const yearPosts = acc.find((item) => item[0] === year);
    if (yearPosts) {
      yearPosts[1].push(post);
    } else {
      acc.push([year, [post]]);
    }
    return acc;
  },
  [] as [number, typeof posts][]
);

const locale = config.base.lang;
const dateFormater = new Intl.DateTimeFormat(locale, {
  month: "short",
  day: "numeric",
});

const CHINESE_ZODIACS = [
  "rat",
  "ox",
  "tiger",
  "rabbit",
  "dragon",
  "snake",
  "horse",
  "goat",
  "monkey",
  "rooster",
  "dog",
  "pig",
];

const getChineseZodiac = (year: number) => {
  const index = (year - 1900) % 12;
  return "icon-" + CHINESE_ZODIACS[index];
};
---

<HtmlBase>
  <SEO
    slot="head"
    charset={config.base.charset}
    title={capitalizeFirstLetter(collection)}
    titleTemplate={`%s - ${config.base.title}`}
    titleDefault="Collection"
  />
  <PageGrid>
    <main class="center-content" w-full font-display>
      <h1 class="title" text-center text-4xl mt-24 mb-16>
        {collection}
      </h1>
      {
        postsByYear.map((item) => {
          const year = item[0];
          const yearHref = "#" + year.toString();
          const postsPerYear = item[1];
          return (
            <>
              <div class="year-index flex items-center" mt-12 mb-4>
                <h2 text-2xl font-bold mr-auto inline-block>
                  <a href={yearHref}>{year}</a>
                </h2>
                <span
                  text-7
                  class={getChineseZodiac(year) + " symbolic-animals"}
                />
              </div>
              <ul text-lg>
                {postsPerYear.map((post) => {
                  return (
                    <li mt-3 mb-1>
                      <a
                        href={`/${collection}/${post.slug}`}
                        class="group flex items-center gap-2 px-1 leading-loose hover:color-primary ease duration-300 border-b-1 border-dashed border-color-contrast-medium/40 hover:border-color-primary"
                      >
                        <span class="i-ph-dot-outline-duotone color-contrast-medium/60 group-hover:color-primary ease duration-300" />
                        <span class="post-title mr-auto">{post.title}</span>
                        <span>{dateFormater.format(post.publishedTime)}</span>
                      </a>
                    </li>
                  );
                })}
              </ul>
            </>
          );
        })
      }
    </main>
  </PageGrid>
</HtmlBase>

<style lang="scss">
  // chinese zodiac icons
  // https://io-oi.me/tech/add-chinese-zodiac-to-next/
  @font-face {
    font-family: "chinese-zodiac";
    font-display: swap;
    src: url("/fonts/chinese-zodiac.woff2");
    src:
      url("/fonts/chinese-zodiac.woff2") format("woff2"),
      url("/fonts/chinese-zodiac.woff") format("woff"),
      url("/fonts/chinese-zodiac.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }

  .symbolic-animals {
    display: inline-block;
    font-family: chinese-zodiac;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-dragon:before {
    content: "\e806";
  }
  .icon-tiger:before {
    content: "\e809";
  }
  .icon-pig:before {
    content: "\e810";
  }
  .icon-horse:before {
    content: "\e813";
  }
  .icon-rat:before {
    content: "\e816";
  }
  .icon-goat:before {
    content: "\e818";
  }
  .icon-snake:before {
    content: "\e820";
  }
  .icon-ox:before {
    content: "\e822";
  }
  .icon-dog:before {
    content: "\e825";
  }
  .icon-rabbit:before {
    content: "\e826";
  }
  .icon-monkey:before {
    content: "\e829";
  }
  .icon-rooster:before {
    content: "\e82f";
  }
</style>
