---
import BaseLayout from "./BaseLayout.astro";
import MetaInfo from "@/components/MetaInfo.astro";
import SideNav from "@/components/SideNav.astro";
import { getCollection } from "astro:content";
import type { Collection } from "@/content/config";

interface Props {
  collection: Collection;
}

const { collection } = Astro.props as Props;
const entries = await getCollection(collection);
const posts = entries
  .map((entry) => {
    return {
      title: entry.data.title || entry.slug,
      slug: entry.slug,
      publishedTime: entry.data.publishedTime,
    };
  })
  .sort((a, b) => {
    if (a.publishedTime === b.publishedTime) {
      return a.title.localeCompare(b.title);
    } else {
      return b.publishedTime > a.publishedTime ? 1 : -1;
    }
  });

const locale = "en";
const dateFormater = new Intl.DateTimeFormat(locale, {
  month: "short",
  day: "numeric",
});
---

<BaseLayout>
  <!-- header meta info -->
  <MetaInfo slot="head" />

  <!-- left side nav -->
  <nav h-full w-20 slot="left">
    <fixed w-20 h-full p-2>
      <SideNav />
    </fixed>
  </nav>

  <main class="center-content" w-full>
    <h1 class="title" text="center 4xl" font-display my-20>{collection}</h1>
    <ul class="collection-index" font-serif>
      {
        posts.map((post) => {
          return (
            <a class="post-entry" href={`/${collection}/${post.slug}`}>
              <li>
                <span class="post-title">{post.title}</span>
                <span class="post-date">
                  {dateFormater.format(post.publishedTime)}
                </span>
              </li>
            </a>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>

<style lang="scss">
  @import "../styles/variables.scss";

  .collection-index {
    padding: 0;
    margin: 5rem 0;
  }

  .post-entry {
    text-decoration: none;
    display: block;
    margin-top: 0.8rem;

    &:hover {
      text-decoration: none;

      li {
        color: var(--color-primary);
        border-color: var(--color-primary);
      }

      li::before {
        color: var(--color-primary);
      }
    }

    li {
      display: flex;
      padding: 0.8rem 0;

      border-bottom: 1px dashed var(--color-contrast-medium);

      &::before {
        content: "•";
        margin: 0 0.5rem;
        color: var(--color-contrast-medium);
      }

      span {
        margin: 0;
      }

      .post-title {
        margin-right: auto;
      }

      .post-date {
        margin: 0 0.5rem;
      }
    }
  }
</style>

<style is:global lang="scss">
  @import "../styles/mixins.scss";
  @include layout-3parts();
</style>
